/*This one is for all page, basically page will includes two div, one is main, the other */
/*is footer-custom, everything else inside main */
html, body{
    height: 100%;
    background-color: oldlace;
}

body{
    background-color: transparent;
}

.main{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

/*rotate left*/
@keyframes rotateLeft {
    0%   {transform: rotate(0)}
    100% {transform: rotate(-720deg)}
}

/*noinspection ALL*/
.rotatate-left{
    animation-name: rotateLeft;
    animation-duration: 2s;
    animation-timing-function: linear;
}

/*rotate right*/
@keyframes rotateRight {
    0%   {transform: rotate(0)}
    100% {transform: rotate(720deg)}
}

/*noinspection ALL*/
.rotatate-right{
    animation-name: rotateRight;
    animation-duration: 2s;
    animation-timing-function: linear;
}

/*fade in*/
@keyframes fadeIn {
    0%   {filter: opacity(0)}
    100% {filter: opacity(100%)}
}

/*noinspection ALL*/
.fade-in{
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: linear;
}

/*fade out*/
@keyframes fadeOut {
    0%   {filter: opacity(100)}
    100% {filter: opacity(0%)}
}

/*noinspection ALL*/
.fade-out{
    animation-name: fadeOut;
    animation-duration: 2s;
    animation-timing-function: linear;
}

/*fade in out*/
@keyframes fadeInOut {
    0%   {filter: opacity(100%)}
    50%  {filter: opacity(0)}
    100% {filter: opacity(100%)}
}

/*noinspection ALL*/
.fade-in-out{
    animation-name: fadeInOut;
    animation-duration: 4s;
    animation-timing-function: linear;
}

/*zoom in*/
@keyframes zoomIn {
    0%   {transform: scale(1, 1)}
    100% {transform: scale(2, 2)}
}

/*noinspection ALL*/
.zoom-in{
    animation-name: zoomIn;
    animation-duration: 2s;
    animation-timing-function: linear;
}

/*zoom out*/
@keyframes zoomOut {
    0%   {transform: scale(1, 1)}
    100% {transform: scale(0.5, 0.5)}
}

/*noinspection ALL*/
.zoom-out{
    animation-name: zoomOut;
    animation-duration: 2s;
    animation-timing-function: linear;
}

/*left in*/
@keyframes leftIn {
    0%   {transform: translateX(-100%)}
    100% {transform: translateX(0)}
}

/*noinspection ALL*/
.left-in{
    animation-name: leftIn;
    animation-duration: 2s;
    animation-timing-function: linear;
}

/*right in*/
@keyframes rightIn {
    0%   {transform: translateX(100%)}
    100% {transform: translateX(0)}
}

/*noinspection ALL*/
.right-in{
    animation-name: rightIn;
    animation-duration: 2s;
    animation-timing-function: linear;
}

/*top bot*/
@keyframes topBot {
    0%   {transform: translateY(-100%)}
    100% {transform: translateY(0)}
}

/*noinspection ALL*/
.top-bot{
    animation-name: topBot;
    animation-duration: 2s;
    animation-timing-function: linear;
}

/*flash*/
@keyframes flashing {
    0%   {filter: opacity(100%)}
    100% {filter: opacity(0)}
}

/*noinspection ALL*/
.flash{
    animation-name: flashing;
    animation-duration: 0.1s;
    animation-timing-function: linear;
    animation-iteration-count: 10;
}

/*bouncing*/
@keyframes bouncing {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0)}
    40% {transform: translateY(-30px)}
    60% {transform: translateY(-15px)}
}

/*noinspection ALL*/
.bounce{
    animation-name: bouncing;
    animation-duration: 2s;
    animation-timing-function: linear;
}












